= hform_for @expense_category, :html => {:class => 'form-horizontal'} do |f|
  = f.input :name
  = f.input :major_expense

  .hr-line-dashed
  .form-actions.row
    .col-md-offset-4.col-md-8
      = f.submit t('shared.save'), :class => 'btn btn-success'
