.nested-row.wrapper.border-bottom.white-bg.page-heading.m-b-md
  .col-xs-12
    %h1= t('nav.jobs.expenses')
    .title!= breadcrumbs({t('nav.jobs.expenses') => expenses_path}, {t('expense_categories.categories') => expense_categories_path}, t('shared.edit'))

.ibox
  .ibox-content
    = render "expense_categories/form"

