
.nested-row.wrapper.border-bottom.white-bg.page-heading.m-b-md.p-sm
  .col-xs-12
    %h1.title Terms of Service

.ibox
  .ibox-title
    %h4 Terms of Service
  .ibox-content
    = cb("Terms of Service", "ToS")
