%h4{:style => "margin:0px 0px 5px;"}
  %i.icon-phone{:style => "margin-right:5px;"}
  = contact.phone
%h4{:style => "margin:0px 0px 5px;"}
  %i.icon-mail-2{:style => "margin-right:5px;"}
  = contact.email
%address{:style => "margin:10px 0px 0px;line-height:14px;font-weight:normal;"}= contact.full_address
