.nested-row.wrapper.border-bottom.white-bg.page-heading.m-b-md
  .col-xs-12
    %h1= t 'nav.manage.blog'
    .title!= breadcrumbs({'Blog' => admin_posts_path}, 'New Post')
.ibox
  .ibox-content.p-xl
    = render "/admin/posts/form"
