%tr.proposal-template-item{:data => {:section => section.id, :item => item.id}}
  - if section.show_include_exclude_options
    - ['N/A', 'Include', 'Exclude'].each do |opt|
      %td{:style => "text-align:center;"}
        %input{:type => 'radio', :checked => item.default_include_exclude_option == opt, :disabled => true, :name => item.name}

  %td= item.name
  %td
    %input{:type => 'text', :disabled => true, :value => item.default_note_text, :style => "box-sizing:border-box;margin-bottom:0px;width:100%;height:28px;"}
    - unless item.help_text.blank?
      %span.help-block{:style => "margin-bottom:0px;"}= item.help_text
  %td{:style => "width:105px;"}
    .proposal-item-controls.btn-group.pull-right{:style => "margin-top:1px;"}
      = link_to edit_admin_proposal_template_section_item_path(@proposal_template, section, item), :class => 'btn btn-small', :data => {:toggle => "tooltip", :placement => "bottom"}, :title => "Edit Item" do
        %i.icon-pencil
      %button.btn.btn-small{:data => {:toggle => "tooltip", :placement => "bottom"}, :title => "Move Up"}
        %i.icon-arrow-up
      %button.btn.btn-small{:data => {:toggle => "tooltip", :placement => "bottom"}, :title => "Move Down"}
        %i.icon-arrow-down
