= link_to item_path do

  .widgeth.white-bg.table-card.m-t
    %table
      %tr
        %td
          %i{class: icon_class}
        %td.card-text
          %h3
            = item_heading
          = item_description
